@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
/* 1.Navbar */
.logo {
  display: flex;
}
.logo span {
  font-size: 32px;
  font-weight: 700;
}
.main-logo {
  color: #0460d9;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
}
#active {
  color: #0460d9;
}
.navbar-nav a:hover {
  color: #0460d9;
}

.hero-ct {
  width: 100%;
  height: 100vh;
}

.hero-ct .col-6 {
  margin-bottom: 100px;
}

.navbar-item ul {
  display: flex;
  gap: 50px;
}
.btn-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.btn-nav a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
#btn-avatar {
  display: none;
}

/* FOOTER */
.footer-ct {
  height: 200px;
  padding: 20px;
  background-color: #8dc3f2;
}
.footer-logo span {
  font-size: 48px;
  font-weight: 700;
}

.team {
  font-size: 20px;
}
.footer-icon {
  gap: 20px;
}
.footer-icon svg {
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
}
.footer-link {
  display: flex;
  gap: 20px;
}

.footer-link ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-link a {
  text-decoration: none;
  color: white;
}
.card-ct {
  /* display: flex; */
  width: 100%;
}

/* MAIN CONTAINER */
.ava {
  width: 250px;
}

.ava h3 {
  font-size: 16px;
}

/* .main-ct{
    height: 100vh;
} */
.card-ct .course-detail {
  height: 220px;
  gap: 50px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.course-detail img {
  border-radius: 5px;
}
.card-payment {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.line {
  height: 1px;
  width: 100%;
  background-color: black;
}
.harga,
.total {
  display: flex;
  justify-content: space-between;
}

.txt-deskripsi {
  width: 100%;
}

/* MAIN CONTAINER */

/* RESPONSIVE */

@media only screen and (max-width: 480px) {
  .navbar-container {
    text-align: center;
    display: flex;
  }

  .btn-nav {
    align-items: center;
    justify-content: center;
  }
  .footer-ct {
    height: 400px;
  }

  .footer-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .course-detail .txt-deskripsi {
    width: 100%;
    height: 650px;
    /* background-color: red; */
  }

  .card-ct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-ct .course-detail {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-ct .ct-card{
    height: auto;
  }

  .card-payment {
    margin-top: 20px;
    width: 250px;
  }
}

@media only screen and (max-width: 786px) {
  .navbar-container {
    text-align: center;
    display: flex;
  }

  .btn-nav {
    align-items: center;
    justify-content: center;
  }

  .footer-ct {
    height: 400px;
  }

  .footer-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .course-detail .txt-deskripsi {
    width: 100%;
    height: 650px;
    /* background-color: red; */
  }

  .card-ct .course-detail {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-ct .ct-card{
    height: auto;
  }

  .main-ct {
    height: 100vh;
    overflow-y: auto;
  }

  .container-sidebar .card-payment {
    margin-top: 20px;
    width: auto;
  }

}
