@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Roboto&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* NAVBAR CSS */
.container .txt-title{
  color: #0460D9;
}
/* 1.Navbar */
.logo{
  display: flex;
}
.logo span{
  font-size: 32px;
  font-weight: 700;
}
.main-logo{
  color: #0460D9;
}
.navbar-container{
  display: flex;
  justify-content: space-between;
}
#active{
  color: #0460D9;
}
.navbar-nav a:hover{
  color: #0460D9;
}

.hero-ct{
  width: 100%;
  height: 100vh;
}

.hero-ct .col-6{
  margin-bottom: 100px;
}

.navbar-item ul{
  display: flex;
  gap: 50px;
}
.btn-nav{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.btn-nav a{
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
#btn-avatar{
  display: none;
}
/* NAVBAR CSS END */
#box-card {
  border: 1px solid rgb(196, 196, 196);
  padding: 20px;
}

#box {
  padding: 20px;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* preview class */
.course-header h2 {
  font-size: 30px;
  margin: 0 0 15px;
  font-weight: 600;
}

.course-header .average-rating {
  font-weight: 600;
  color: orange;
}
.course-header .average-stars {
  font-size: 14px;
  color: orange;
}
.progress-bar {
  background-color: orangered;
}
.average-stars i {
  color: orange;
}
.course-header .rating span {
  vertical-align: middle;
}
.course-header ul li {
  margin: 6px 0 0;
  text-transform: capitalize;
}
.course-header ul li span {
  margin-left: 5px;
}

/* course tabs */

.course-tabs .nav-link {
  margin: 30px 0 20px;
}

/* course curriculum */

.course-curriculum .accordion-item {
  border-color: var(--border-color-1);
  background-color: transparent;
}
.course-curriculum .accordion-button span {
  position: absolute;
  right: 17px;
  font-size: 14px;
}
.course-curriculum .accordion-button {
  background-color: transparent;
  color: var(--black-90);
  font-weight: 300;
}

.course-description h4 {
  font-size: 16px;
}

/* course description */

.course-instructor .img-box img {
  max-width: 128px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.course-instructor h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.course-instructor h4 {
  font-weight: 300;
}

.course-instructor ul li i {
  color: var(--main-color);
  margin-right: 5px;
}
.course-instructor ul li i:not(:last-child) {
  margin-bottom: 5px;
}

/* course reviews */
.progress {
  margin-bottom: 10px;
}
#reviewer img {
  height: auto;
  width: 100px;
}

/* review */

.reviews-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 65px;
}

.reviews-item .img-box {
  max-width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.reviews-item h4 {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0 0 5px;
  color: black;
}

.reviews-item .stars-rating i {
  color: orange;
  font-size: 14px;
}

.reviews-item .stars-rating .date {
  margin-left: 5px;
  font-size: 14px;
  display: inline-block;
}

.reviews-item p {
  margin: 5px 0 0;
}

.Dionisius {
  margin-left: 40px;
}

/* course sidebar */
.course-sidebar .img-box {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.course-sidebar .price span {
  margin-right: 8px;
}

.course-sidebar .price-new {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.course-sidebar .price-discount {
  color: orange;
}
.course-sidebar .features-list li {
  position: relative;
  padding-left: 21px;
  margin-bottom: 5px;
}

/* btn */
.btn-theme {
  background-color: orangered;
  color: white;
}

.btn-theme:hover {
  background-color: rgb(255, 102, 47);
  transition: 0.3s;
}

.price-old {
  color: rgb(109, 109, 109);
}

/* FOOTER CSS */
.footer-ct{
  height: 200px;
  padding: 20px;
  background-color: #8DC3F2;
}
.footer-logo span{
  font-size: 48px;
  font-weight: 700;
}

.team{
  font-size: 20px;
}
.footer-icon{
  gap: 20px;
}
.footer-icon svg{
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
}
.footer-link{
  display: flex;
  gap: 20px;
}

.footer-link ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-link a{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width : 480px)  {
  .navbar-container{
      text-align: center;
      display: flex;
      
  }

  .btn-nav{
      align-items: center;
      justify-content: center;
  }
  .hero-ct button{
      margin-top: 30px;
  }

  .footer-ct{
      height: 400px;
  }

  .footer-main{
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
}

@media only screen and (max-width : 786px) {
  .navbar-container{
      text-align: center;
      display: flex;
      
  }

  .btn-nav{
      align-items: center;
      justify-content: center;
  }

  .hero-ct{
      text-align: center;
  }
  .hero-img{
      width: 300px;
  }

  .btn-hero{
      margin: auto;
      margin-top: 10px;
  }

  .footer-ct{
      height: 400px;
  }

  .footer-main{
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
  }

  .price{
    display: flex;
    flex-direction: column;
  }
}